{% load static %}
<!--  COMPONENT: HEADER -->
<header class="bg-white py-3 border-b">
    <div class="container max-w-screen-xl mx-auto px-4">
        <div class="flex flex-wrap items-center">
            <!-- Brand -->
            <div class="flex-shrink-0 mr-5">
                <a href="#"> <img src="{% static 'images/logo.png' %}" height="38" alt="Brand" class="object-contain h-30 w-60" /> </a>
            </div>
            <!-- Brand .//end -->
            
            <!-- Search -->
            <div class="flex flex-nowrap items-center w-full order-last md:order-none mt-5 md:mt-0 md:w-2/4 lg:w-2/4">
                <form method="get" action="{% url 'imoveis:pesquisa_id' %}">
                <input method="get" action="{% url 'imoveis:pesquisa_id' %}" class="flex-grow appearance-none border border-gray-200 bg-gray-100 rounded-md mr-2 py-2 px-3 hover:border-gray-400 focus:outline-none focus:border-gray-400" type="text" name="query" value="{{ request.GET.query }}" placeholder="Pesquisar id...">
                <input type="submit" value="">
                </form>
            </div>
            <!-- Search .//end -->

            <!-- Actions -->
            <div class="flex items-center space-x-2 ml-auto">

            {% if user.is_authenticated %}
            <a class="px-3 py-2 inline-block text-center text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300" href="{% url 'imoveis:logout' %}"> 
                <i class="text-gray-400 w-5 fa fa-user"></i> 
                <span class="hidden lg:inline ml-1">Sair</span>
            </a>

           {% else %}
                <a class="px-3 py-2 inline-block text-center text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300" href="{% url 'imoveis:criarconta' %}"> 
                    <i class="text-gray-400 w-5 fa fa-user"></i> 
                    <span class="hidden lg:inline ml-1">Criar conta</span>
                </a>
            {% endif %}
                <a class="px-3 py-2 inline-block text-center text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300" href="{% url 'imoveis:favoritos' %}"> 
                    <i class="text-gray-400 w-5 fa fa-heart"></i> 
                    <span class="hidden lg:inline ml-1">Favoritos</span> 
                </a>

                <a class="px-3 py-2 inline-block text-center text-gray-700 bg-white shadow-sm border border-gray-200 rounded-md hover:bg-gray-100 hover:border-gray-300" href="{% url 'imoveis:anunciarimovel' %}"> 
                    <i class="text-gray-400 w-5 fa fa-shopping-cart"></i> 
                    <span class="hidden lg:inline ml-1">Anunciar Imóvel</span>
                </a>
            </div>
            <!-- Actions .//end -->
            
            <!-- mobile-only -->
            <div class="lg:hidden ml-2">
                <button type="button" class="bg-white p-3 inline-flex items-center rounded-md text-black hover:bg-gray-200 hover:text-gray-800 border border-transparent">
                    <span class="sr-only">Abrir menu</span>
                    <i class="fa fa-bars fa-lg"></i>
                </button>
            </div>
            <!-- mobile-only //end  -->

        </div> <!-- flex grid //end -->
    </div> <!-- container //end -->
</header>

<nav class="relative shadow-sm">
    <div class="container max-w-screen-xl mx-auto px-4">
        <!-- Bottom -->
        <div class="hidden lg:flex flex-1 items-center py-1">
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="{% url 'imoveis:homeimoveis' %}"> Início </a>
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="#"> Apartamentos </a>
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="#"> Casas </a>
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="#"> Rurais </a>
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="#"> Comerciais </a>
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="#"> Terrenos </a>
            <a class="px-3 py-2 rounded-md hover:bg-gray-100" href="{% url 'imoveis:procurar' %}"> Procurar </a>
        </div>
        <!-- Bottom //end -->
    </div> <!-- container //end -->
</nav>
<!--  COMPONENT: HEADER //END -->

<!--  PAGE HEADER -->

<!--  PAGE HEADER .//END  -->